<section class="contact-container">
    <div class="contact-content">
        <div class="contact-info">
            <p>
                আমাদের যে কোন পণ্য অর্ডার করতে কল বা WhatsApp করুন:
                <a [href]="'https://wa.me/' + getWhatsAppNumber()"
                    target="_blank" style="text-decoration: none; color: inherit;margin-right: 10px;">
                    <i class="pi pi-whatsapp"></i> +88{{settings?.contactNumber? settings?.contactNumber : branch?.phoneNumber}}
                </a>
                <span> | </span>
                <a href="tel: +88{{this.settings?.contactNumber? settings?.contactNumber : branch?.phoneNumber}}" style="text-decoration: none; color: inherit; margin-left: 10px;">
                    <i class="pi pi-phone"></i> হট লাইন: +88{{settings?.hotLine? settings?.hotLine : branch?.phoneNumber}}
                </a>
            </p>
        </div>
    </div>
</section>


