<div class="grid grid-nogutter" style="width:100%;background:#fff;">
  <div class="col-12 p-3" style="width:100%;background:#fff;">
    <div class="p-fluid" style="width:100%;background:#fff;">
      <form [formGroup]="this._service.form" (ngSubmit)="onSubmit()">
        <div class="grid p-0 m-0">
          <div class="col-12 p-0 mb-2">
            <label for="name">{{ 'Status' | translate }} <span class="text-danger">*</span></label>
              <p-dropdown [autoDisplayFirst]="false" [options]="shippingStatusList" 
                formControlName="shipmentStatusId"
                optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" optionValue="id"
                [style]="{'width':'100%'}"
                [ngClass]="this._service.form.get('shipmentStatusId').hasError('required')
                && (this._service.form.get('shipmentStatusId').touched)? 'ng-invalid ng-dirty': ''">
              </p-dropdown>
              <label *ngIf="(this._service.form.get('shipmentStatusId').hasError('required') &&
                (this._service.form.get('shipmentStatusId').touched))"
                style="padding-top: 5px; padding-left: 5px; padding-bottom: 0; margin:0; color: darkred; text-align: left">
                <small>This filed is required!!</small>
              </label>
          </div>
          <div class="col-12 p-0 mb-2" *ngIf="role === 'Delivery Man'">
            <label for="name">{{ 'Note' | translate }} <span class="text-danger">*</span></label>
            <textarea rows="3" formControlName="note" pInputTextarea></textarea>
          </div>
          <div class="col-8 text-right ml-auto">
            <button  pButton pRipple class="p-button-primary"
            [disabled]="inProgress" icon="pi pi-check"
             label="{{inProgress? this.translate.instant('Please Wait'): this._service.form.get('id').value? this.translate.instant('Update'):this.translate.instant('Add') }}"
             style="width:fit-content;"></button>
            <label  pButton class="p-button-warning ml-3" icon="pi pi-times"
             label="{{'Cancel' | translate}}" style="width:fit-content;"
            (click)="onCancel()"></label>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>
