.product-title{
    background-color: #CCF3F4;
   padding:50px 0px;
   margin: 0px;
}

.header .title{
    color:#000;
}
.text-underline{
    text-decoration: underline;
}
.list{
    border:1px solid green;
}
.shipping-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
/* --------------------------- */
/* Cart Items Section */
/* --------------------------- */
.cart-subtotal{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.cart-subtotal .subtotal-title, 
.cart-subtotal .subtotal-price{
  font-size:18px;
  padding:10px 0px;
}
.cart-list-title{
  margin-bottom:5px;
}
.cart-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem 0;
  border-bottom: 1px solid #e0e0e0;
}

.cart-img-wrapper {
  position: relative;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}

.cart-img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.cart-badge {
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: 0.75rem;
}

.cart-item-name {
  min-width: 100px;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cart-item-price {
  min-width: 60px;
  text-align: right;
  padding-right:10px;
}

.confirmation-btn{
  padding:10px 20px !important;
  font-size:16px !important;
}

.payonline-btn{
  padding:15px 20px !important;
  font-size:16px !important;
  display: flex !important;
  justify-content: center;
  gap: 0.5rem;
  background-color: rgb(237, 237, 41);
  color:#000;
}
.payonline-btn:hover{
   background-color: grey;
  color:#fff;
}
.confirmation-btn{
  background-color: #2182A5;
  color: #fff;
}
.confirmation-btn:hover{
  background-color: rgb(112, 183, 112);
  color: #fff;
}
/* On very small screens, keep inline */
@media (max-width: 1269px) {
  .col-7{
    width:80% !important;
  }
 
}
@media (max-width: 769px) {
  .col-7{
    width:100% !important;
  }
  .cart-item {
    flex-wrap: nowrap;
  }
  .cart-item-name {
    flex-grow: 1;
    margin-left: 0.5rem;
  }
  .cart-item-price {
    margin-left: 0.5rem;
    text-align: right;
  }
}
