<div class="pages-body notfound-page flex flex-column">

  <div class="align-self-center mt-auto mb-auto">
    <div class="pages-panel card flex flex-column">
        <div class="pages-header px-3 py-1" style="background-color: white">
          <img src="assets/layout/images/pages/404.png" alt="Logo" height="50px;" style="margin: 10px"/>
        </div>
      <div class="card mt-3 px-6">
        <img src="assets/layout/images/pages/404.png" alt=""/>
      </div>
      <div class="pages-detail pb-6">Requested resource is not available.</div>
      <label pButton pRipple label="GO BACK TO HOME" [routerLink]="['']" class="p-button-text"></label>
    </div>
  </div>
</div>
