
<div class="grid grid-nogutter" style="width:100%;background-color: #fff;">
  <div class="p-fluid pr-3 pl-2" style="width:100%;background-color: #fff;">
    <form [formGroup]="this._service.form" (ngSubmit)="OnSubmit()">
      <div class="grid formgroup" style="width:100%;">
        <div class="col-6 mb-2">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
              <i class="pi pi-user"></i>
            </span>
            <span class="p-float-label">
              <input type="text" id="name" formControlName="name" pInputText
                [ngClass]="this._service.form.get('name').hasError('required') && (this._service.form.get('name').touched)? 'ng-invalid ng-dirty': ''">
              <label for="name">{{ 'Name' | translate }}<span style="color:red">*</span></label>
            </span>
          </div>

          <label *ngIf="this._service.form.get('name').hasError('required') &&
            (this._service.form.get('name').touched)"
              style="padding-top: 5px; padding-left: 5px; padding-bottom: 0; margin:0; color: darkred; text-align: left">
              <small>This field is requied</small>
          </label>
        </div>

        <div class="col-6">

          <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
              <i class="pi pi-envelope"></i>
            </span>
            <span class="p-float-label">
              <input (keyup)="IfEmailExists()" type="text" id="email" formControlName="email" pInputText
                [ngClass]="(this._service.form.get('email').hasError('required') && (this._service.form.get('email').touched)) ||
                       (this._service.form.get('email').hasError('exists') && (this._service.form.get('email').touched))? 'ng-invalid ng-dirty': ''">
              <label for="email">{{ 'Email' | translate }}<span style="color:red">*</span></label>
            </span>

          </div>
          <label *ngIf="this._service.form.get('email').hasError('exists') && (this._service.form.get('email').touched)"
            style="padding-top: 5px; padding-left: 5px; padding-bottom: 0; margin:0; color: darkred; text-align: left">
            <small>{{(this._service.form.get('email').value).trim()}} already exists!!</small>
          </label>
          <label *ngIf="this._service.form.get('email').hasError('required') &&
            (this._service.form.get('email').touched)"
              style="padding-top: 5px; padding-left: 5px; padding-bottom: 0; margin:0; color: darkred; text-align: left">
              <small>This field is requied</small>
          </label>
        </div>

        <div class="col-12 mt-2">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon" style="width:20%;">
              <!-- <i class="pi pi-phone"></i> -->
              <span class="p-float-label">
                <p-dropdown inputId="codeId" [autoDisplayFirst]="false" [options]="countryCodes"
              formControlName="countryCode" optionLabel="code" [filter]="true" filterBy="code"
              [showClear]="false" optionValue="phoneCode" [style]="{'width':'100%'}"
              [ngClass]="this._service.form.get('countryCode').hasError('required') &&
              (this._service.form.get('countryCode').touched)? 'ng-invalid ng-dirty': ''">
              </p-dropdown>
              <label for="">Select Code</label>
              </span>
            </span>
            <span class="p-float-label">
              <input (keyup)="IfPhoneExists()" type="text" id="phoneNumber" formControlName="phoneNumber" pInputText
                [ngClass]="(this._service.form.get('phoneNumber').hasError('required') && (this._service.form.get('phoneNumber').touched)) ||
                       (this._service.form.get('phoneNumber').hasError('maxlength') && (this._service.form.get('phoneNumber').touched)) ||
                       (this._service.form.get('phoneNumber').hasError('minlength') && (this._service.form.get('phoneNumber').touched))? 'ng-invalid ng-dirty': ''">
              <label for="phoneNumber">{{ 'Phone Number' | translate }}<span style="color:red">*</span></label>
            </span>

          </div>
          <label *ngIf="this._service.form.get('phoneNumber').hasError('pattern') &&
          (this._service.form.get('phoneNumber').touched)"
            style="padding-top: 5px; padding-left: 5px; padding-bottom: 0; margin:0; color: darkred; text-align: left">
            <small>Invalid phone number</small>
          </label>
          <label *ngIf="this._service.form.get('phoneNumber').hasError('exists') && (this._service.form.get('phoneNumber').touched)"
            style="padding-top: 5px; padding-left: 5px; padding-bottom: 0; margin:0; color: darkred; text-align: left">
            <small>{{(this._service.form.get('countryCode').value + this._service.form.get('phoneNumber').value).trim()}} already exists!!</small>
          </label>
          <label *ngIf="this._service.form.get('countryCode').hasError('required')"
            style="padding-top: 5px; padding-left: 5px; padding-bottom: 0; margin:0; color: darkred; text-align: left">
            <small>Country Code is required</small>
          </label>
          <!-- <label
            *ngIf="(!this._service.form.get('phoneNumber').hasError('required') && (this._service.form.get('phoneNumber').touched)) &&
                       ((this._service.form.get('phoneNumber').hasError('minlength') && (this._service.form.get('phoneNumber').touched)) ||
                       (this._service.form.get('phoneNumber').hasError('maxlength') && (this._service.form.get('phoneNumber').touched)))"
            style="padding-top: 5px; padding-left: 5px; padding-bottom: 0; margin:0; color: darkred; text-align: left">
            <small>Phone Number Must Be 10 Digit Long</small>
          </label>


          <label *ngIf="this._service.form.get('countryCode').hasError('required') &&
          (this._service.form.get('countryCode').touched)"
          style="padding-top: 5px; padding-left: 5px; padding-bottom: 0; margin:0; color: darkred; text-align: left">
          <small>Please select Country Code</small>
        </label> -->
        </div>
        <div class="col-6 mt-2">
          <span class="p-float-label" style="width: 100%;">
            <p-dropdown inputId="branchId" [autoDisplayFirst]="false" [options]="branches"
              formControlName="branchId" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true"
              optionValue="id" [style]="{'width':'100%'}"
              [ngClass]="this._service.form.get('branchId').hasError('required') &&
              (this._service.form.get('branchId').touched)? 'ng-invalid ng-dirty': ''">
            </p-dropdown>
            <label for="branchId">{{ 'Branch' | translate }}<span style="color:red">*</span></label>
          </span>
        </div>
        <div class="col-6 mt-2">
          <div class="grid">
            <div class="md:col-11">
              <span class="p-float-label" style="width: 100%;">
                <p-dropdown inputId="" [autoDisplayFirst]="false" [options]="roles"
                  formControlName="roleName" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true"
                  optionValue="name" [style]="{'width':'100%'}"
                  [ngClass]="this._service.form.get('roleName').hasError('required') &&
                  (this._service.form.get('roleName').touched)? 'ng-invalid ng-dirty': ''">
                </p-dropdown>
                <label for="">{{ 'Role' | translate }}<span style="color:red">*</span></label>
              </span>
            </div>
            <div class="md:col-1">
              <lebel pButton pRipple icon="pi pi-plus" (click)="CreateRole()"
              style="margin: auto;" class="p-button bg-primary"></lebel>
            </div>
          </div>
        </div>

        <div class="col-6 mt-2">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
              <i class="pi pi-lock"></i>
            </span>
            <span class="p-float-label">
              <input type="Password" id="password" formControlName="password" pInputText
                [ngClass]="(this._service.form.get('password').hasError('required') && (this._service.form.get('password').touched)) ||
                               (this._service.form.get('password').hasError('pattern') && (this._service.form.get('password').touched))? 'ng-invalid ng-dirty': ''">
              <label for="password">{{ 'Password' | translate }}<span style="color:red">*</span></label>
            </span>
          </div>
          <p *ngIf="(!this._service.form.get('password').hasError('required') && (this._service.form.get('password').touched)) &&
                       (this._service.form.get('password').hasError('pattern') && (this._service.form.get('password').touched))"
            style="padding-top: 5px; padding-left: 5px; padding-bottom: 0; margin:0; color: darkred; text-align: left">
            <small>Password Must Contain - One of Each [0-9], [a-z], [A-Z], Special <br> Character in (&and;, #, $,
              !,
              %, *,
              ?, &)
              & 8-32 in length</small>
          </p>
        </div>
        <div class="col-6 mt-2">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
              <i class="pi pi-lock"></i>
            </span>
            <span class="p-float-label">
              <input type="Password" id="confirmPassword" formControlName="confirmPassword" pInputText
                [ngClass]="(this._service.form.get('confirmPassword').hasError('required') && (this._service.form.get('confirmPassword').touched)) ||
                               (this._service.form.get('confirmPassword').hasError('confirmedValidator') && (this._service.form.get('confirmPassword').touched))? 'ng-invalid ng-dirty': ''">
              <label for="confirmPassword">{{ 'Confirm Password' | translate}}<span style="color:red">*</span></label>
            </span>
          </div>

          <p *ngIf="(!this._service.form.get('confirmPassword').hasError('required') && (this._service.form.get('confirmPassword').touched)) &&
                       (this._service.form.get('confirmPassword').hasError('confirmedValidator') && (this._service.form.get('confirmPassword').touched))"
            style="padding-top: 5px; padding-left: 5px; padding-bottom: 0; margin:0; color: darkred; text-align: left">
            <small>Password Does Not Match</small>
          </p>
        </div>
        <div class="col-6 ml-auto text-end mb-2 pb-2">
          <button pButton pRipple icon="pi pi-check" [disabled]="inProgress"
            label="{{inProgress? 'Please Wait':this.translate.instant('Add')}}" type="submit"
            style="width:fit-content;background: #ec6b16"></button>

            <label pButton pRipple icon="pi pi-times"
             label="{{'Cancel' | translate}}" class="p-button-danger ml-3"
            style="width:fit-content;" (click)="onClose()"></label>
        </div>
      </div>
    </form>
  </div>
</div>

<!--Add New Role PopUp-->
<p-dialog [(visible)]="displayModal" [modal]="true" [resizable]="false"
   header="{{ 'Add Role' | translate }}" [closable]="true"
   [style]="{'width':'30vw'}"
    onHide="GetUserRoles()">
  <div class="grid grid-nogutter" style="background-color: #fff;width:100%">
   <div class="p-fluid card" style="width:100%">
    <form [formGroup]="roleform" (ngSubmit)="OnAddUserRole()">
      <div class="grid nogutter">

        <div class="col-12" style="padding-bottom: 0">
          <div class="field">
            <span class="p-float-label">
              <input type="text" id="name" pInputText formControlName="name"
              [ngClass]="(this.roleform.get('name').hasError('required') &&
              (this.roleform.get('name').touched))? 'ng-invalid ng-dirty': ''">
              <label for="name">{{ 'Name' | translate }}<span class="text-danger">*</span></label>
            </span>
            <span *ngIf="(this.roleform.get('name').hasError('required') && (this.roleform.get('name').touched))"
             style="padding: 0; margin:0; color: darkred; text-align: left">
             <small>This field is required</small>
           </span>

          </div>
        </div>

        <div class="col-12">
            <span class="p-buttonset" style="width: 250px; float: right;">
                <button pButton pRipple [disabled]="roleProgress"
                        label="{{ roleProgress? 'Please Wait': this.translate.instant('Add') }}"
                        icon="pi pi-check" class="p-button-primary" type="submit">
                      </button>
                <label pButton pRipple label="{{ 'Cancel' | translate}}" icon="pi pi-times" class="p-button-secondary"
                       (click)="CancelRole()">
                      </label>
            </span>
        </div>
      </div>
    </form>
   </div>
  </div>
</p-dialog>
