<div class="wrap m-0 p-0">
  <div class="grid visible-desktop content m-0 p-0">
    <div class="col-12 pl-3 pr-3" style="width:100%;">
     <div class="grid align-self-center p-2" style="width:100%;">
      <div class="col-6 align-items-center pt-3">
        &copy; 2025 All Rights Reserved By  MySolution Bangladesh
      </div>
       <div class="col-6 pt-3 align-self-center ml-auto text-end">
         <span>
          <a href="" style="font-family: sans-serif;">Contact us</a>
         </span>
         <span class="ml-3">
          <a href="" style="font-family: sans-serif;">Privacy Policy</a>

         </span>
       </div>
     </div>

    </div>
  </div>

  <div class="grid visible-phone content ml-3 mr-2">
    <div class="grid p-0 m-0">
      <div class="col m-auto p-0">
        <span class="text-color" style="font-size: 0.8rem">
          &#64; All Rights Reserved By</span>
        <span class="text-color">
          <b style="font-size: 0.8rem">MySolution Bangladesh</b></span>
      </div>
      <div class="col-fixed">
      <!-- <img src="{{imageurl}}{{d.headerImgUrl}}" height="50px"
             alt="{{d.title}}"> -->
      </div>
      <div class="col m-auto text-right">
        <span style="font-size: 0.8rem">Email: mysolution&#64;gmail.com </span>
        <span style="font-size: 0.8rem">
          Phone: 01600000000
        </span>
      </div>
    </div>
  </div>
</div>
