<app-top-contact-info></app-top-contact-info>
<app-home-banner></app-home-banner>
<div class="grid p-0 m-0" style="width: 100%;">
    <div class="p-fluid my-4" style="width: 100%;">
        <div class="grid mb-5" style="width: 100%;">
            <div class="col-6">
                <div class="detail-image-wrapper">
                    <img draggable="false" *ngIf="product?.productImageUrl" src="{{baseUrl}}/{{ product?.productImageUrl }}"
                        alt="{{ product?.name }}" style="max-width: 100%; height: 350px; object-fit: contain;">
                    <img draggable="false" *ngIf="!product?.productImageUrl" src="assets/images/default-img.png"
                        alt="{{ product?.name }}" style="max-width: 100%; height: 350px; object-fit: contain;">
                </div>
            </div>
            <div class="col-6">
                <div class="main-product">
                    <div class="prod-title">
                        <h1 class="text-3xl font-bold">{{product?.name}}
                            <span *ngIf="product?.description">- ({{ product?.description?? '' }})</span>
                        </h1>
                    </div>
                    <div class="product-price">
                        <p class="actual-price" *ngIf="!product?.discount" class="text-gray-1000 mt-1">Tk
                            {{ product?.sellingPrice | number:"1.2-2" }}</p>
                        <p *ngIf="product?.discount" class="text-gray-1000 mt-1">
                            <span class="actual-price">Tk {{ onCalculateDiscountedPrice(product?.sellingPrice,
                                product?.discount) | number:"1.2-2" }}</span>
                            <span class="discounted-price">Tk {{ product?.sellingPrice | number:"1.2-2" }}</span>
                            <span class="save-price">
                                Save TK {{ onCalculateSavePrice(product?.sellingPrice, product?.discount) |
                                number:"1.2-2" }}
                            </span>
                        </p>
                        <p class="mb-2">
                            <p-badge value="{{product?.isStockAvailable? 'Available':'Stock Out'}}"
                            severity="{{product?.isStockAvailable? 'success':'danger'}}"></p-badge>
                        </p>
                    </div>
                </div>
                <div class="grid payment-action">
                    <!-- <button class="p-button-primary mb-2" pButton pRipple label="Add To Cart"
                    (click)="addToCart(this.product)" icon="pi pi-shopping-cart"></button> -->
                    <div class="col-2 align-items-center">
                        <div class="flex justify-content-between" style="background-color:#eae9e9; border:1px solid grey;">
                            <button pButton icon="pi pi-minus" class="p-button-sm p-button-primary p-button-text"
                                (click)="decreaseQty(product)"></button>
                            <div class="align-items-center justify-content-center p-1"
                                style="border-left:1px solid grey; border-right:1px solid grey;">
                                <span class="px-3"> {{ getCartQty(product.productDetailId) }}</span>
                            </div>
                            <button pButton icon="pi pi-plus" class="p-button-sm p-button-primary p-button-text"
                                (click)="increaseQty(product)"></button>
                        </div>
                        <!-- <button pButton icon="pi pi-trash" class="p-button-danger ml-2 p-button-outlined" (click)="onRemoveItem(i)">
                                                                                </button> -->
                    </div>
                    <div class="col-10">
                        <button (click)="onDisplayOrderModal()" class="p-button-warning mb-2" pButton pRipple label="ক্যাশ অন ডেলিভারি"
                        icon="pi pi-shopping-cart" style="width: fit-content;"></button>
                        <button class="p-button-danger mb-2 ml-2" pButton pRipple label="Pay Online"
                        icon="pi pi-shopping-cart" style="width: fit-content;"></button>
                        <button class="p-button-secondary mb-2 ml-2" pButton pRipple label="Chat with us"
                        icon="pi pi-messanger" style="width: fit-content;"></button>
                        <button class="p-button-primary mb-2 ml-2" pButton pRipple label="WhatsApp Us"
                        icon="pi pi-whatsapp" style="width: fit-content;"></button>
                    </div>
                    
                </div>
                <div class="description-slider p-0 flex justify-content-center">
                    <p-accordion [activeIndex]="0">
                        <p-accordionTab header="Description">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                                id est laborum.
                            </p>
                        </p-accordionTab>
                    </p-accordion>
                </div>
                <div class="hot-line">
                    <div class="title">
                        <p>আমাদের যে কোন পণ্য অর্ডার করতে কল বা WhatsApp করুন:</p>
                    </div>
                    <div class="phon">
                        <p>
                            <a href="tel:+88{{branch?.phoneNumber}}">
                                +88{{branch?.phoneNumber}}
                            </a>
                        </p>
                        <p>হট লাইন: 
                            <a href="tel:+88{{branch?.phoneNumber}}">
                                +88{{branch?.phoneNumber}}
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-12 mb-6" style="background-color: rgb(237, 237, 237);width: 100%;">
            <div class="grid align-items-center justify-content-center" style="width: 100%;">
                <div class="col-4 p-0 m-0">
                    <div class="box-content p-0 m-0">
                        <div class="box-img">
                            <img src="assets/images/safe-payment-01.webp" height="100" alt="">
                        </div>
                        <div class="box-info">
                            <h4>নিরাপদ পেমেন্ট</h4>    
                            <h6>বিভিন্ন পেমেন্ট পদ্ধতি থেকে বেছে নিন</h6>
                        </div>
                    </div>
                </div>
                 <div class="col-4 p-0 m-0">
                    <div class="box-content p-0 m-0">
                        <div class="box-img">
                            <img src="assets/images/delivery-man.png" height="100" alt="">
                        </div>
                        <div class="box-info">
                            <h4>গ্রিন ডেলিভারি</h4>    
                            <h6>৩-৫ দিনের মধ্যে আপনার পণ্য পৌছে যাবে</h6>
                        </div>
                    </div>
                </div>
                 <div class="col-4 p-0 m-0">
                    <div class="box-content p-0 m-0">
                        <div class="box-img">
                            <img src="assets/images/natural-leaf-icon.webp" height="100" alt="">
                        </div>
                        <div class="box-info">
                            <h4>১০০% ন্যাচারাল</h4>    
                            <h6>প্রাকৃতিক উপাদান ব্যবহার করতে আমরা প্রতিশ্রুতিবদ্ধ</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12" style="width: 100%;">
            <h1 class="text-center mb-3">You Might Also Like</h1>
            <div class="grid product-container" style="width: 100%;">
            <div class="col-2 product-col" *ngFor="let product of productList">
                <div class="card h-full flex flex-column shadow-2 product-card">
                    <a class="switch-product" (click)="onShowProductDetails(product)">
                        <div class="image-wrapper">
                            <img draggable="false" *ngIf="product.productImageUrl" src="{{baseUrl}}/{{ product.productImageUrl }}"
                                alt="{{ product.name }}">
                            <img draggable="false" *ngIf="!product.productImageUrl" src="assets/images/default-img.png"
                                alt="{{ product.name }}">
                            <span *ngIf="product.discount > 0" class="product-discount">On Sale</span>
                        </div>
                    </a>
                 
                    <div class="p-3 flex flex-column justify-between flex-grow-1">
                        <div class="align-items-center text-center">
                            <h3 class="text-lg font-semibold m-0">
                                {{ product.name }}
                                <span *ngIf="product?.description">- ({{ product?.description?? '' }})</span>
                            </h3>
                            <p *ngIf="!product.discount" class="text-gray-600 mt-1">৳ {{ product.sellingPrice | number:"1.2-2" }}</p>
                            <p *ngIf="product.discount" class="text-gray-600 mt-1">
                                <span>৳ {{ onCalculateDiscountedPrice(product.sellingPrice, product.discount) | number:"1.2-2" }}</span>
                                <span style="text-decoration: line-through;padding-left:15px;">৳ {{ product.sellingPrice | number:"1.2-2" }}</span>
                            </p>
                            <p class="mb-2">
                                <p-badge value="{{product?.isStockAvailable? 'Available':'Stock Out'}}"
                                    severity="{{product?.isStockAvailable? 'success':'danger'}}"></p-badge>
                            </p>
                        </div>
                        <div class="mt-auto ml-auto mr-auto">
                            <!-- <button pButton label="Add to Cart" icon="pi pi-shopping-cart" class="p-button-sm w-full p-button-primary"
                                (click)="addToCart(product)">
                            </button> -->
                            <div class="flex align-items-center">
                                <div class="flex items-center" style="background-color:#eae9e9; border:1px solid grey;">
                                    <button pButton icon="pi pi-minus" class="p-button-sm p-button-primary p-button-text"
                                        (click)="decreaseQty(product)"></button>
                                    <div class="align-items-center justify-content-center p-1"
                                        style="border-left:1px solid grey; border-right:1px solid grey;">
                                        <span class="px-3"> {{ getCartQty(product.productDetailId) }}</span>
                                    </div>
                                    <button pButton icon="pi pi-plus" class="p-button-sm p-button-primary p-button-text"
                                        (click)="increaseQty(product)"></button>
                                </div>
                                <!-- <button pButton icon="pi pi-trash" class="p-button-danger ml-2 p-button-outlined" (click)="onRemoveItem(i)">
                                </button> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<p-dialog [(visible)]="this._customerOrderService.displayModal" [modal]="true"
   [resizable]="false" position="top" [closable]="true" 
   header="{{ 'Order Confirmation' | translate}}" [style]="{'width':'50vw'}"
   (onHide)="onHideOrderModal()" [showHeader]="false">
   <app-order-confirmation></app-order-confirmation>
</p-dialog>
<!-- <app-home-footer></app-home-footer> -->