<app-top-contact-info></app-top-contact-info>
<app-home-banner></app-home-banner>
<div class="grid grid-nogutter" style="width: 100%;">
    <div class="p-fluid" style="width: 100%;">
        <div class="col-12 page-header" style="width: 100%;">
            <h1 class="page-header-title">Return Policy</h1>
            <div class="header-breadcrumb mt-2">
                <div class="flex -mx-4 align-items-center justify-content-center">
                    <span>
                        <a href="#" class="bread-crumb-item" title="Back to the home page">Home</a>
                    </span>
                    <span class="pi pi-angle-right"></span>
                    <span class="">Return Policy</span>
                </div>
            </div>
            
        </div>
        <div class="col-8 ml-auto mr-auto pt-5 pb-5" [innerHTML]="settings?.returnPolicy"></div>
    </div>
</div>