<div class="grid grid-nogutter" style="width: 100%;background-color: #fff;">
  <div class="p-fluid pl-5 pr-5 pb-5 mt-3" style="width: 100%">
    <form [formGroup]="this._service.form" (ngSubmit)="OnSubmit()">
      <div class="grid" *ngIf="!this._service.afterResetEmail">
        <div class="col-12">
          <div class="field" style="margin-bottom: 5px">
            <span class="p-float-label">
              <input type="Password" formControlName="password" pInputText
                [ngClass]="(this._service.form.get('password').hasError('required') && (this._service.form.get('password').touched)) ||
                               (this._service.form.get('password').hasError('pattern') && (this._service.form.get('password').touched))? 'ng-invalid ng-dirty': ''">
              <label>{{ 'Password' | translate }}<span style="color:red">*</span></label>
            </span>
          </div>
          <span *ngIf="(!this._service.form.get('password').hasError('required') && (this._service.form.get('password').touched)) &&
                       (this._service.form.get('password').hasError('pattern') && (this._service.form.get('password').touched))"
            style="padding: 0; margin:0; color: darkred; text-align: left">
            <small>Password Must Contain - One of Each [0-9], [a-z], [A-Z], Special Character in (&#64;, #, $, !, %, *, ?,
              &) & 8-32 in length</small>
          </span>
        </div>

        <div class="col-12">
          <div class="field" style="margin-bottom: 5px">
            <span class="p-float-label">
              <input type="Password" id="confirmPassword" formControlName="confirmPassword" pInputText
                [ngClass]="(this._service.form.get('confirmPassword').hasError('required') &&
                (this._service.form.get('confirmPassword').touched)) ||
                (this._service.form.get('confirmPassword').hasError('confirmedValidator') &&
                (this._service.form.get('confirmPassword').touched))? 'ng-invalid ng-dirty': ''">
              <label>{{ 'Confirm Password' | translate }}<span style="color:red">*</span></label>
            </span>
          </div>
          <span *ngIf="(!this._service.form.get('confirmPassword').hasError('required') &&
          (this._service.form.get('confirmPassword').touched)) &&
            (this._service.form.get('confirmPassword').hasError('confirmedValidator') &&
            (this._service.form.get('confirmPassword').touched))"
            style="padding: 0; margin:0; color: darkred; text-align: left">
            <small>Password Does Not Match</small>
          </span>
        </div>

        <div class="col-8 ml-auto text-end">
          <button pButton pRipple [disabled]="inProgress" type="submit"
              label="{{inProgress? 'Please Wait':this.translate.instant('Reset Password')}}" icon="pi pi-check"
              class="p-button-primary" style="width:fit-content;">
          </button>
          <label pButton pRipple  label="{{'Cancel' | translate}}"
          icon="pi pi-times" class="p-button-warning ml-2"
            (click)="OnCancel()" style="width:fit-content;"></label>
        </div>
      </div>

      <div class="grid" *ngIf="this._service.afterResetEmail">
        <div class="col-12" style="text-align: center;">
          <div class="col-fixed">
            <h5 class="mt-2" style="text-align: center;color:green">
              Password Reset Successfully
            </h5>
            <p style="text-align: center;font-size: 15px;">
              <span style="font-weight: bold;">Id:</span>
              {{this._service.afterResetId}}
            </p>
            <p style="text-align: center;font-size: 15px;">
              <span style="font-weight: bold;">Email:</span>
              {{this._service.afterResetEmail}}</p>
            <p style="text-align: center;font-size: 15px;">
              <span style="font-weight: bold;">Password:</span>
              {{this._service.afterResetPassword}}</p>

            <div style="justify-content: center;">
              <label style="width:fit-content;" pButton pRipple
                class="p-button-warning" label="{{ 'Close' | translate }}" icon="pi pi-times" (click)="OnCancel()">
              </label>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
