<section class="footer">
    <div class="grid app-footer" style="width: 100%;">
        <div class="col-12 sm:col-5 md:col-5 lg:col-5">
            <div class="d-flex flex-row flex-wrap align-items-center justify-content-left gap-2">
                <img *ngIf="company?.logoUrl" src="{{this.baseUrl}}/{{company?.logoUrl}}" alt="{{company?.name?? ''}}" height="60px">
                <h5>{{settings?.title?? ''}}</h5>
            </div>
            
            <div class="company-title mt-2 ml-0 pl-0">
                <p [innerHTML]="settings?.footerInformation" style="font-size:15px;font-weight: 500;color:#4f4c4c">
                    <!-- This Company is a leading e-commerce platform committed to delivering safe, healthy, and organic food products across Bangladesh. Renowned
                    for its dedication to quality, This Company offers a diverse range of health-focused items, including premium
                    mustard oil, pure ghee, organic honey, dates, chia seeds, and an assortment of nuts. Each product is carefully
                    sourced and crafted to ensure maximum health benefits, meeting the highest standards of purity and
                    freshness.<br><br>With a focus on convenience, This Company operates primarily online, bringing the
                    goodness of
                    nature straight to your doorstep. Whether you're seeking to elevate your wellness journey or simply
                    enjoy
                    natural, wholesome foods, This Company is your go-to destination for authentic, trustworthy products. -->
                </p>
            </div>
        </div>
        <div class="col-12 sm:col-2 md:col-2 lg:col-2 company-title">
            <h5>Company</h5>
            <ul>
                <li>
                    <a routerLink="about-us">About us</a>
                </li>
                 <li>
                    <a routerLink="contact-us">Contact us</a>
                </li>
                <li>
                    <a routerLink="customer-care">গ্রাহক সেবা</a>
                </li>
            </ul>
        </div>
        <div class="col-12 sm:col-2 md:col-2 lg:col-2 company-title">
            <h5>Policy</h5>
            <ul>
                <li>
                    <a routerLink="/return-policy">Return Policy</a>
                </li>
                  <li>
                    <a routerLink="/refund-policy">Refund Policy</a>
                </li>
            </ul>
        </div>
        <div class="col-12 sm:col-3 md:col-3 lg:col-3 company-title">
            <h5>Contact Us</h5>
            <ul>
                <li>
                    <i class="pi pi-map-marker"></i>
                    <span class="pl-2">Head Office: {{settings?.headOfficeAddress?? ''}}</span>
                </li>
                <li>
                    <i class="pi pi-phone"></i>
                    <span class="pl-2">Phone: {{settings?.contactNumber?? ''}}</span>
                </li>
                <li>
                    <i class="pi pi-envelope"></i>
                    <span class="pl-2">Email: {{settings?.email?? ''}}</span>
                </li>
                <li>
                    <i class="pi pi-facebook"></i>
                    <span class="pl-2">
                        Facebook:
                        <a href="">{{settings?.facebookLink?? ''}}</a>
                    </span>
                </li>
                <li>
                    <i class="pi pi-youtube"></i>
                    <span class="pl-2">Youtube: <a href="">{{settings?.youtubeLink?? ''}}</a></span>
                </li>
            </ul>
        </div>
        
    </div>
    <div class="col-12 footer-nav">
        <p>@ 2025. All rights reserved and developed by <a href="#">My Solution Bangladesh</a></p>
    </div>
    <button *ngIf="showScrollTopButton"
          pButton 
          type="button" 
          icon="pi pi-arrow-up" 
          class="p-button-rounded p-button-sm p-button-primary scroll-top-btn"
          (click)="scrollToTop()">
    </button>
</section>