<div class="grid grid-nogutter" style="background-color: #fff;width:100%">
  <div class="col-12 p-3" style="background-color: #fff;width:100%">
    <div class="p-fluid" style="width:100%">
      <form [formGroup]="this._service.form">
        <div class="input-panel flex flex-column px-3">
          <div class="grid">

            <div class="md:col-12">
              <div class="grid">
                <div class="md:col-12">
                  <span class="p-float-label" style="width: 100%;">
                    <p-dropdown inputId="menuId" [autoDisplayFirst]="false" [options]="menuItems"
                      formControlName="menuId" optionLabel="label" [filter]="true" filterBy="label" [showClear]="true"
                      optionValue="id" [style]="{'width':'100%'}"
                      [ngClass]="this._service.form.get('menuId').hasError('required') &&
                      (this._service.form.get('menuId').touched)? 'ng-invalid ng-dirty': ''">
                    </p-dropdown>
                    <label for="menuId">Menu<span style="color:red">*</span></label>
                  </span>
                </div>
              </div>
            </div>
            <div class="md:col-12">
              <div class="grid">
                <div class="md:col-12">
                  <span class="p-float-label" style="width: 100%;">
                    <p-dropdown inputId="fId" [autoDisplayFirst]="false" [options]="functionnames"
                      formControlName="functionName" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true"
                      optionValue="name" [style]="{'width':'100%'}"
                      >
                    </p-dropdown>
                    <!-- <input type="text"  formControlName="functionName" pInputText> -->
                    <label for="fId">Function name<span style="color:red">*</span></label>
                  </span>
                </div>
              </div>
            </div>
            <!-- <div class="md:col-12">
              <span class="p-float-label">
                <input type="text" id="name" formControlName="functionName" pInputText>
                <label for="name">Function Name</label>
              </span>
            </div> -->

            <div class="col-6 ml-auto text-end">
              <button  pButton pRipple class="p-button-primary" style="width:fit-content;" [disabled]="inProgress" icon="pi pi-check"
              label="{{inProgress? 'Please Wait': this._service.form.get('id').value? this.translate.instant('Update'):this.translate.instant('Add') }}" (click)="onSubmit()"></button>

              <button  pButton pRipple class="p-button-danger ml-2" style="width:fit-content;" icon="pi pi-times"  label="{{'Cancel' | translate}}" (click)="onCancel()"></button>
            </div>

          </div>
        </div>
      </form>
    </div>
  </div>
</div>
